:root {
    --background-color: hsl(215, 100%, 98%);
    --font-family: 'Satoshi', sans-serif;
    --hint-colour: hsl(0, 0%, 69%);
    --item-background: hsl(0, 0%, 100%);
    --hover-colour: hsl(0, 0%, 96%);
    --select-colour: hsl(0, 0%, 92%);
}

.Text {
    font-family: var(--font-family);
}

.Hint {
    color: var(--hint-colour);
}

.InputBox {
    scale: 1.5;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--item-background);
    transition: 0.3s;
}

.InputBox:hover {
    background-color: var(--hover-colour);
}

.InputBox:focus {
    outline: none;
    background-color: var(--select-colour);
}

.Button {
    scale: 1.3;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--item-background);
    transition: 0.3s;
}

.Button:hover {
    background-color: var(--hover-colour);
}

.Button:active {
    background-color: var(--select-colour);
}

body {
    background-color: var(--background-color);
}

#CenterContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;

    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);

    background-color: hsla(0, 0%, 0%, 0);
}

#TranslateButton {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    scale: 1;
}

#TranslateButton[Hidden = "true"] {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    scale: 0;
}

#TranslateInputBox {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    scale: 1;
}

#TranslateInputBox[Hidden = "true"] {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    scale: 0;
}